<navbar></navbar>
<messages></messages>
<main>
    <div class="container jumbotron">
        <h1>{{ $ctrl.title }}</h1>

        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="urlAddress"
                       placeholder={{$ctrl.descriptionOfAction}}>

                <p></p>

                <button type="button" class="btn btn-default tile" ng-click=$ctrl.createUrl()>
                    <span>{{ $ctrl.labelCreateButton }}</span>
                </button>
            </div>
        </form>

        <p></p>

        <div ng-show="$ctrl.id != null">
            Der Shortlink ist: {{ $ctrl.baseRedirectUrl}}{{ $ctrl.id }}
        </div>
    </div>
</main>