<navbar></navbar>
<messages></messages>
<main>
    <div class="container jumbotron">
        <h1>{{ $ctrl.title }}</h1>

        <h2>Shortlink erstellen</h2>

        <div class="form-group">
            <input type="text" class="form-control" ng-model=$ctrl.urlToCreate
                   placeholder={{$ctrl.descriptionOfAction}}>

            <p></p>

            <button type="button" class="btn btn-default tile" ng-click=$ctrl.createUrl()>
                <span>{{ $ctrl.labelCreateButton }}</span>
            </button>
        </div>

        <p></p>

        <div ng-show="$ctrl.id != null">
            Der Shortlink ist: {{ $ctrl.baseRedirectUrl}}{{ $ctrl.id }}
        </div>


        <h2>Shortlink löschen</h2>

        <div class="form-group">
            <input type="text" class="form-control" ng-model=$ctrl.urlToDelete
                   placeholder="Geben Sie hier den zu löschenden Shortlink ein">

            <p></p>

            <button type="button" class="btn btn-default tile" ng-click=$ctrl.deleteShortlink()>
                <span>Lösche Schortlink</span>
            </button>
        </div>

        <p></p>

        <div ng-show="$ctrl.deleted == true">
            Der Shortlink {{$ctrl.urlToDelete}} wurde gelöscht.
        </div>
    </div>
</main>